$primary-color: #007aeb;
$primary-color-hover: rgb(0, 101, 196);
$primary-hover-shadow: 0 4px 5px 1px rgba(0, 101, 196, 0.32);
$section-gray-bg: #f3f3f3;
$text-black-gray: #4f4f4f;
$text-dark: #323232;
$btnred: #f82c2c;
$btnred-hover: rgb(192, 33, 33);
$btnred-hover-shadow: 0 4px 4px 1px rgb(192 33 33 / 32%);
